/data/workflows.json
/data/instances.json

!data/.gitkeep

bin/
obj/
out/

*.user
*.suo
*.userosscache
*.sln.docstates

Generated_Code/

.idea/
.vscode/

.DS_Store
Thumbs.db

appsettings.Development.json
secrets.json

*.log

publish/

*.nupkg
*.snupkg
packages/

.dotnet-tools.json

TestResults/
coverage*.json
coverage*.xml
*.coverage
*.coveragexml

global.json